@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

.header-content {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 10%;
}

.header-section {
    flex: 1;
    margin: 1%;
}

.header-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.header-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.navbar-item {
    flex: 1;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    background-color: #6d747e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 14px;
}

.quote {
    background-color: #E5E7EB;
}

.image-showcase {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.image {
    flex: 1;
    justify-items: center;
    margin: 3%;
}

.small-image-placeholder {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 14px;
    border: 2px solid #3882F6;
    border-radius: 10%;
    margin: 10px;
}

.image-showcase h1 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}

.image-showcase p {
    font-size: 9px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5%;
    padding: 2%;
    margin: 10%;
}

.call-to-action button {
    outline: 2px solid #F9FAF8;
}

/* Text styling */
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}


.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.information-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.qoute-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.qoute-author-text {
    font-size: 22px;
    text-align: right;
}

/* END */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

